#root {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.navbar {
    width: 100%;
    justify-content: end;
    
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    
}

/* OBJECT FIT, OBJECT POSITION */